.section__advertising {
  padding: 150px 0;

  @media (max-width: 770px) {
    padding: 55px 0;
  }

  .advertising__inner {
    h2 {
      font-size: calc(18px + 18 * ((100vw - 320px) / 1250));
      font-weight: 700;
      line-height: 43.57px;
      margin-bottom: 40px;
      @media (max-width: 770px) {
        margin-bottom: 30px;
      }
    }
  }

  .advertising__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1241px) {
      justify-content: center;
      gap: 20px;
    }

    @media (max-width: 840px) {
      flex-direction: column;
    }

    .advertising__item {
      width: 100%;
      max-width: 400px;
      background-color: rgba(243, 245, 249, 1);
      border-radius: 16px;
      padding: 30px 0 30px 14px;
      overflow: hidden;

      
      h3 {
        font-size: calc(18px + 4 * ((100vw - 320px) / 1250));
        font-weight: 700;
        line-height: 29.05px;
        text-align: center;
        margin-bottom: 61px;
        @media (max-width: 770px) {
          margin-bottom: 20px;
        }
      }

      &-img {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 61px;
        @media (max-width: 770px) {
          margin-bottom: 30px;
        }
        img {
          width: 100%;
          max-width: 340px;
          object-fit: cover;

          @media (max-width: 840px) {
            max-width: 480px;
          }
        }

      }

      @media (max-width: 840px) {
        max-width: 600px;
      }
    }
  }

  .advertising__item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    .advertising__partners {
      width: 100%;
      max-width: 62px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
