.header {
  padding-bottom: 183px;

  @media (max-width: 1000px) {
    padding-bottom: 90px;
  }
  &__top {
    &-inner {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        text-transform: uppercase;
        font-size: calc(16px + 2 * ((100vw - 320px) / 1250));
        font-weight: 500;
        line-height: 21.78px;
      }
    }
    &-menu {
      display: flex;
      align-items: center;
    }

    &-nav {
      margin-left: auto;

      .header__top-list {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-right: 28px;
      }

      .header__top-item {
        font-size: calc(15px + 1 * ((100vw - 320px) / 1250));
        line-height: 19.36px;
        position: relative;
        padding-bottom: 1px;
        a {
          font-weight: 500;
          width: 100%;
          display: inline-block;
          transition: all 0.3s ease;
        }
        &::before {
          content: '';
          width: 0;
          height: 1px;
          background-color: #000000;
          position: absolute;
          bottom: 0;
          transition: all 0.3s ease;
        }

        &:hover {
          &::before {
            content: '';
            width: 100%;
            position: absolute;
            height: 1px;
            background-color: #000000;
            bottom: 0;
          }
        }
      }
    }
  }

  &__body {
    &-inner {
      display: flex;
      flex-direction: column;
      padding-top: 27px;
    }

    &-hero {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      @media (max-width: 1135px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      max-width: 617px;
      h1 {
        font-size: calc(25px + 15 * ((100vw - 320px) / 1250));
        font-weight: 700;
        line-height: 53.25px;
        width: 100%;
        max-width: 520px;
        margin-bottom: 16px;
        @media (max-width: 1135px) {
          max-width: 100%;
        }
        @media (max-width: 535px) {
          line-height: 1.4;
        }
      }
      p {
        font-size: calc(14px + 2 * ((100vw - 320px) / 1250));
        font-weight: 400;
        line-height: 19.36px;
        margin-bottom: 25px;
        max-width: 457px;
        width: 100%;
        @media (max-width: 1135px) {
          max-width: 100%;
          text-align: center;
        }
      }
      @media (max-width: 1135px) {
        max-width: 900px;
        text-align: center;
      }

      .header__body-btns {
        display: flex;
        width: 100%;
        align-items: center;
        @media (max-width: 1135px) {
          flex-direction: column;
          gap: 30px;
        }
        .button {
          margin-right: 12px;
          text-wrap: nowrap;
          @media (max-width: 1135px) {
            margin-right: 0;
          }
          @media (max-width: 366px) {
            max-width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
          }
        }
        .header__body-list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 6px;
          width: 100%;
          @media (max-width: 1135px) {
            max-width: 450px;
          }
          @media (max-width: 366px) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
          }
          .header__body-item {
            background-color: rgba(30, 30, 30, 1);
            border-radius: 17px;
            color: #fff;
            width: 100%;
            max-width: 82px;
            height: 58px;
            padding: 0 10px;
            @media (max-width: 366px) {
              max-width: 147px;
            }
            &-inner {
              display: flex;
              height: 100%;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              font-size: 11px;
              font-weight: 400;
              line-height: 14.4px;
              text-align: center;
              @media (max-width: 366px) {
                font-size: 15px;
              }
            }
          }
        }
      }
    }

    &-images {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      max-width: 500px;
      .header__body-img {
        position: relative;
        width: 100%;
        max-width: 327px;
        img {
          filter: drop-shadow(rgba(67, 70, 93, 0.25) 0px 4px 4px);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:first-child {
          z-index: 10;
          margin-right: -130px;
        }
        &:last-child {
          align-self: flex-end;
          margin-bottom: -60px;
        }
      }
    }

    &-product {
      color: #fff;
      border-radius: 31px;
      padding: 42px 20px;
      background: linear-gradient(
        180deg,
        #0f0f0f 0%,
        #1a162c 61.37%,
        #2e2462 99.95%
      );
      h2 {
        font-size: calc(20px + 10 * ((100vw - 320px) / 1250));
        font-weight: 600;
        line-height: 36.31px;
        text-align: center;
        margin-bottom: 47px;
        @media (max-width: 444px) {
          margin-bottom: 20px;
        }
      }
      .header__product-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 110px;
        @media (max-width: 546px) {
          gap: 20px;
          justify-content: space-between;
        }
      }
      .header__product-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 13px;
        font-size: calc(16px + 2 * ((100vw - 320px) / 1250));
        font-weight: 500;
        line-height: 21.78px;
        width: 100%;
        max-width: 100px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @media (max-width: 444px) {
          max-width: 50px;
        }
      }
    }
  }
}
