.section__advertising {
  padding: 150px 0;
}
@media (max-width: 770px) {
  .section__advertising {
    padding: 55px 0;
  }
}
.section__advertising .advertising__inner h2 {
  font-size: calc(18px + 18 * (100vw - 320px) / 1250);
  font-weight: 700;
  line-height: 43.57px;
  margin-bottom: 40px;
}
@media (max-width: 770px) {
  .section__advertising .advertising__inner h2 {
    margin-bottom: 30px;
  }
}
.section__advertising .advertising__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1241px) {
  .section__advertising .advertising__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 840px) {
  .section__advertising .advertising__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section__advertising .advertising__list .advertising__item {
  width: 100%;
  max-width: 400px;
  background-color: rgb(243, 245, 249);
  border-radius: 16px;
  padding: 30px 0 30px 14px;
  overflow: hidden;
}
.section__advertising .advertising__list .advertising__item h3 {
  font-size: calc(18px + 4 * (100vw - 320px) / 1250);
  font-weight: 700;
  line-height: 29.05px;
  text-align: center;
  margin-bottom: 61px;
}
@media (max-width: 770px) {
  .section__advertising .advertising__list .advertising__item h3 {
    margin-bottom: 20px;
  }
}
.section__advertising .advertising__list .advertising__item-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 61px;
}
@media (max-width: 770px) {
  .section__advertising .advertising__list .advertising__item-img {
    margin-bottom: 30px;
  }
}
.section__advertising .advertising__list .advertising__item-img img {
  width: 100%;
  max-width: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 840px) {
  .section__advertising .advertising__list .advertising__item-img img {
    max-width: 480px;
  }
}
@media (max-width: 840px) {
  .section__advertising .advertising__list .advertising__item {
    max-width: 600px;
  }
}
.section__advertising .advertising__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.section__advertising .advertising__item-list .advertising__partners {
  width: 100%;
  max-width: 62px;
  position: relative;
}
.section__advertising .advertising__item-list .advertising__partners img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}