.section__ready {
  padding-top: 48px;
  background-color: rgb(243, 245, 249);
}
.section__ready .ready__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section__ready .ready__inner .button-big {
  -ms-flex-item-align: center;
      align-self: center;
}
.section__ready .ready__inner h2 {
  text-align: center;
  font-family: Inter;
  font-size: calc(18px + 16 * (100vw - 320px) / 1250);
  font-weight: 700;
  line-height: 43.57px;
  margin-bottom: 20px;
}
.section__ready .ready__inner p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
  margin-bottom: 24px;
}
.section__ready .ready__inner .ready__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 12px;
}
.section__ready .ready__inner .ready__img-box .ready__img-inner {
  width: 100%;
  max-width: 289px;
  position: relative;
  z-index: 1;
}
.section__ready .ready__inner .ready__img-box .ready__img-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__ready .ready__inner .ready__img-box .ready__img-inner:nth-child(1) {
  z-index: 5;
  margin-right: -190px;
}
@media (max-width: 500px) {
  .section__ready .ready__inner .ready__img-box .ready__img-inner:nth-child(1) {
    margin-right: -100px;
  }
}
.section__ready .ready__inner .ready__img-box .ready__img-inner:nth-child(2) {
  z-index: 10;
}
.section__ready .ready__inner .ready__img-box .ready__img-inner:nth-child(3) {
  z-index: 5;
  margin-left: -120px;
}