@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("..//fonts/Inter18pt-Thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("..//fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("..//fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("..//fonts/Inter18pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("..//fonts/Inter18pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px !important;
  height: 100%;
}

.button {
  background-color: rgb(215, 16, 42);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.71px;
  padding: 15px 30px;
  border-radius: 59px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.button:hover {
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(201, 15, 40);
}

.button-big {
  padding: 21px 40px;
}

.burger {
  display: none;
}

.header {
  padding-bottom: 183px;
}
@media (max-width: 1000px) {
  .header {
    padding-bottom: 90px;
  }
}
.header__top-inner {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-size: calc(16px + 2 * (100vw - 320px) / 1250);
  font-weight: 500;
  line-height: 21.78px;
}
.header__top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-nav {
  margin-left: auto;
}
.header__top-nav .header__top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-right: 28px;
}
.header__top-nav .header__top-item {
  font-size: calc(15px + 1 * (100vw - 320px) / 1250);
  line-height: 19.36px;
  position: relative;
  padding-bottom: 1px;
}
.header__top-nav .header__top-item a {
  font-weight: 500;
  width: 100%;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__top-nav .header__top-item::before {
  content: "";
  width: 0;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__top-nav .header__top-item:hover::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #000000;
  bottom: 0;
}
.header__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 27px;
}
.header__body-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}
@media (max-width: 1135px) {
  .header__body-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__body-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 617px;
}
.header__body-info h1 {
  font-size: calc(25px + 15 * (100vw - 320px) / 1250);
  font-weight: 700;
  line-height: 53.25px;
  width: 100%;
  max-width: 520px;
  margin-bottom: 16px;
}
@media (max-width: 1135px) {
  .header__body-info h1 {
    max-width: 100%;
  }
}
@media (max-width: 535px) {
  .header__body-info h1 {
    line-height: 1.4;
  }
}
.header__body-info p {
  font-size: calc(14px + 2 * (100vw - 320px) / 1250);
  font-weight: 400;
  line-height: 19.36px;
  margin-bottom: 25px;
  max-width: 457px;
  width: 100%;
}
@media (max-width: 1135px) {
  .header__body-info p {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 1135px) {
  .header__body-info {
    max-width: 900px;
    text-align: center;
  }
}
.header__body-info .header__body-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1135px) {
  .header__body-info .header__body-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.header__body-info .header__body-btns .button {
  margin-right: 12px;
  text-wrap: nowrap;
}
@media (max-width: 1135px) {
  .header__body-info .header__body-btns .button {
    margin-right: 0;
  }
}
@media (max-width: 366px) {
  .header__body-info .header__body-btns .button {
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
.header__body-info .header__body-btns .header__body-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6px;
  width: 100%;
}
@media (max-width: 1135px) {
  .header__body-info .header__body-btns .header__body-list {
    max-width: 450px;
  }
}
@media (max-width: 366px) {
  .header__body-info .header__body-btns .header__body-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__body-info .header__body-btns .header__body-list .header__body-item {
  background-color: rgb(30, 30, 30);
  border-radius: 17px;
  color: #fff;
  width: 100%;
  max-width: 82px;
  height: 58px;
  padding: 0 10px;
}
@media (max-width: 366px) {
  .header__body-info .header__body-btns .header__body-list .header__body-item {
    max-width: 147px;
  }
}
.header__body-info .header__body-btns .header__body-list .header__body-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-size: 11px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: center;
}
@media (max-width: 366px) {
  .header__body-info .header__body-btns .header__body-list .header__body-item-inner {
    font-size: 15px;
  }
}
.header__body-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 500px;
}
.header__body-images .header__body-img {
  position: relative;
  width: 100%;
  max-width: 327px;
}
.header__body-images .header__body-img img {
  -webkit-filter: drop-shadow(rgba(67, 70, 93, 0.25) 0px 4px 4px);
          filter: drop-shadow(rgba(67, 70, 93, 0.25) 0px 4px 4px);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__body-images .header__body-img:first-child {
  z-index: 10;
  margin-right: -130px;
}
.header__body-images .header__body-img:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: -60px;
}
.header__body-product {
  color: #fff;
  border-radius: 31px;
  padding: 42px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f0f0f), color-stop(61.37%, #1a162c), color-stop(99.95%, #2e2462));
  background: linear-gradient(180deg, #0f0f0f 0%, #1a162c 61.37%, #2e2462 99.95%);
}
.header__body-product h2 {
  font-size: calc(20px + 10 * (100vw - 320px) / 1250);
  font-weight: 600;
  line-height: 36.31px;
  text-align: center;
  margin-bottom: 47px;
}
@media (max-width: 444px) {
  .header__body-product h2 {
    margin-bottom: 20px;
  }
}
.header__body-product .header__product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 110px;
}
@media (max-width: 546px) {
  .header__body-product .header__product-list {
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__body-product .header__product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 13px;
  font-size: calc(16px + 2 * (100vw - 320px) / 1250);
  font-weight: 500;
  line-height: 21.78px;
  width: 100%;
  max-width: 100px;
}
.header__body-product .header__product-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 444px) {
  .header__body-product .header__product-item {
    max-width: 50px;
  }
}

.section__about {
  padding-bottom: 150px;
}
@media (max-width: 1000px) {
  .section__about {
    padding-bottom: 90px;
  }
}
.section__about-inner h2 {
  font-size: calc(20px + 16 * (100vw - 320px) / 1250);
  font-weight: 700;
  line-height: 43.57px;
  margin-bottom: 40px;
  text-align: center;
}
.section__about-list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0;
  padding: 0;
}
@media (max-width: 1050px) {
  .section__about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section__about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  background-color: rgb(243, 245, 249);
  border-radius: 16px;
}
.section__about-item h3 {
  font-size: 16px;
  font-weight: 800;
  line-height: 19.36px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
}
.section__about-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
}
.section__about-item:nth-child(1), .section__about-item:nth-child(3) {
  width: 100%;
  max-width: 393px;
  padding: 40px 14px 20px 14px;
}
@media (max-width: 1050px) {
  .section__about-item:nth-child(1), .section__about-item:nth-child(3) {
    max-width: 100%;
  }
}
.section__about-item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}
.section__about-item:nth-child(1)::after {
  content: "";
  background-image: url(..//img/icons/bg1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.section__about-item:nth-child(1) .section__item-img {
  margin-bottom: 25px;
}
.section__about-item:nth-child(2) {
  padding: 28px 12px 27px 12px;
  grid-column: 2/3;
  grid-row: 1/span 2;
}
.section__about-item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2 span;
}
.section__about-item:nth-child(3) .section__item-img {
  width: 100%;
  max-width: 342px;
  margin-bottom: 25px;
}
.section__about-item:nth-child(3) .section__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__about-item:nth-child(4) {
  position: relative;
  padding: 34px 34px 34px 12px;
  grid-column: 2/3;
  grid-row: 3/4;
  z-index: 1;
}
.section__about-item:nth-child(4) h3 {
  margin-bottom: 30px;
}
.section__about-item:nth-child(4)::after {
  content: "";
  background-image: url(..//img/icons/arrow-big.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 103px;
  height: 76px;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 1205px) {
  .section__about-item:nth-child(4)::after {
    display: none;
  }
}
@media (max-width: 800px) {
  .section__about-item:nth-child(4) {
    padding: 34px 14px 34px 14px;
  }
}
.section__about-item .section-item-img--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding-top: 30px;
}
@media (max-width: 625px) {
  .section__about-item .section-item-img--flex {
    gap: 15px;
  }
}
.section__about-item .section-item-img--flex .section__item-img-first {
  width: 100%;
  max-width: 225px;
  position: relative;
}
.section__about-item .section-item-img--flex .section__item-img-first img {
  width: 100%;
  max-width: 225px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__about-item .section-item-img--flex .section__item-img-first .section__about-nav {
  position: absolute;
  right: 50%;
  bottom: 20px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 8.75px;
  padding: 7px 0;
  -webkit-box-shadow: 0px 1.59px 6.6px 0px rgba(47, 49, 54, 0.25);
          box-shadow: 0px 1.59px 6.6px 0px rgba(47, 49, 54, 0.25);
}
@media (max-width: 625px) {
  .section__about-item .section-item-img--flex .section__item-img-first .section__about-nav {
    width: 108%;
    padding: 3px 0;
  }
}
.section__about-item .section-item-img--flex .section__item-img-first .section__about-nav .section__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 25px;
}
@media (max-width: 625px) {
  .section__about-item .section-item-img--flex .section__item-img-first .section__about-nav .section__nav-list {
    gap: 15px;
  }
}
.section__about-item .section-item-img--flex .section__item-img-first .section__about-nav .section__nav-list .section__nav-item {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.section__about-item .section-item-img--flex .section__item-img-first .section__about-nav .section__nav-list .section__nav-item:nth-child(2) img {
  width: 28px;
}
.section__about-item .section-item-img--flex .section__item-img-first .section__about-nav .section__nav-list .section__nav-item img {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
@media (max-width: 625px) {
  .section__about-item .section-item-img--flex .section__item-img-first .section__about-nav .section__nav-list .section__nav-item img {
    width: 20px;
  }
}
.section__about-item .section-item-img--flex .section__item-img-first .section__about-nav .section__nav-list .section__nav-item img:hover {
  -webkit-filter: drop-shadow(5px 5.59px 3px rgb(47, 49, 54));
          filter: drop-shadow(5px 5.59px 3px rgb(47, 49, 54));
}
.section__about-item .section-item-img--flex .section__item-img-second {
  width: 100%;
  max-width: 225px;
}
.section__about-item .section-item-img--flex .section__item-img-second img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__about-item .section__item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media (max-width: 675px) {
  .section__about-item .section__item-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section__about .footer__partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}
.section__about .footer__partners-list .footer__partners-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  background-color: rgb(30, 30, 30);
  color: #fff;
  border-radius: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 7px;
  width: 76px;
  height: 54px;
  text-wrap: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}
.section__about .footer__partners-list .footer__partners-item img {
  width: auto;
  height: 21px;
}
@media (max-width: 380px) {
  .section__about .footer__partners-list .footer__partners-item {
    font-size: 10px;
    gap: 3px;
    padding: 5px 3px;
    width: 63px;
  }
}

.section__products {
  background-color: rgb(16, 15, 18);
  padding-top: 44px;
  padding-bottom: 278px;
  color: #fff;
  position: relative;
}
@media (max-width: 770px) {
  .section__products {
    padding-bottom: 80px;
  }
}
.section__products-inner h2 {
  font-size: calc(20px + 22 * (100vw - 320px) / 1250);
  font-weight: 700;
  line-height: 53.25px;
  text-align: center;
  margin-bottom: 90px;
}
.section__products-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}
.section__products-cards .section__cards-img {
  width: 100%;
  max-width: 600px;
}
.section__products-cards .section__cards-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 520px) {
  .section__products-cards .section__cards-img:last-child {
    display: none;
  }
}
.section__products .section__products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  gap: 50px;
}
@media (max-width: 770px) {
  .section__products .section__products-list {
    gap: 50px;
  }
}
.section__products .section__products-list .section__products-item {
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0px -3px 5.2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0px -3px 5.2px 3px rgba(0, 0, 0, 0.6);
  border-radius: 26px;
  padding-top: 38px;
  padding-left: 64px;
  padding-right: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 17px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: z-index 0.3s, -webkit-transform 0.3s;
  transition: z-index 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, z-index 0.3s;
  transition: transform 0.3s, z-index 0.3s, -webkit-transform 0.3s;
}
.section__products .section__products-list .section__products-item:last-child .section__product-item-image {
  -ms-flex-item-align: center;
      align-self: center;
  padding-bottom: 40px;
}
@media (max-width: 770px) {
  .section__products .section__products-list .section__products-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 20px 40px 0px 40px;
  }
}
@media (max-width: 520px) {
  .section__products .section__products-list .section__products-item {
    padding: 20px 20px 0px 20px;
  }
}
@media (max-width: 430px) {
  .section__products .section__products-list .section__products-item {
    padding: 15px 10px 0px 15px;
  }
}
.section__products .section__product-item-info {
  width: 100%;
  max-width: 639px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section__products .section__product-item-info h3 {
  font-size: calc(15px + 18 * (100vw - 320px) / 1250);
  font-weight: 700;
  line-height: 43.57px;
  max-width: 434px;
  margin-bottom: 28px;
}
@media (max-width: 770px) {
  .section__products .section__product-item-info h3 {
    max-width: 100%;
    margin-bottom: 16px;
    line-height: 1.3;
  }
}
.section__products .section__product-item-info .product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (max-width: 770px) {
  .section__products .section__product-item-info .product__list {
    gap: 13px;
  }
}
.section__products .section__product-item-info .product__list li {
  font-size: calc(13px + 3 * (100vw - 320px) / 1250);
  font-weight: 400;
  line-height: 19.36px;
  padding-left: 10px;
}
.section__products .section__product-item-info .product__list li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section__products .section__product-item-info .header__body-list {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 6px;
  width: 100%;
}
@media (max-width: 1135px) {
  .section__products .section__product-item-info .header__body-list {
    max-width: 450px;
  }
}
@media (max-width: 770px) {
  .section__products .section__product-item-info .header__body-list {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 388px) {
  .section__products .section__product-item-info .header__body-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section__products .section__product-item-info .header__body-list .header__body-item {
  background-color: rgb(30, 30, 30);
  border-radius: 17px;
  color: #fff;
  width: 100%;
  max-width: 82px;
  height: 58px;
  padding: 0 10px;
}
@media (max-width: 388px) {
  .section__products .section__product-item-info .header__body-list .header__body-item {
    max-width: 127px;
  }
}
.section__products .section__product-item-info .header__body-list .header__body-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-size: 11px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: center;
}
@media (max-width: 366px) {
  .section__products .section__product-item-info .header__body-list .header__body-item-inner {
    font-size: 15px;
  }
}

.product__info-img {
  margin-bottom: 54px;
}
@media (max-width: 770px) {
  .product__info-img {
    margin-bottom: 16px;
  }
}

.section__product-item-image {
  width: 100%;
  max-width: 263px;
}
.section__product-item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 770px) {
  .section__product-item-image {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 520px) {
  .section__product-item-image {
    max-width: 190px;
  }
}

.section__advertising {
  padding: 150px 0;
}
@media (max-width: 770px) {
  .section__advertising {
    padding: 55px 0;
  }
}
.section__advertising .advertising__inner h2 {
  font-size: calc(18px + 18 * (100vw - 320px) / 1250);
  font-weight: 700;
  line-height: 43.57px;
  margin-bottom: 40px;
}
@media (max-width: 770px) {
  .section__advertising .advertising__inner h2 {
    margin-bottom: 30px;
  }
}
.section__advertising .advertising__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1241px) {
  .section__advertising .advertising__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 840px) {
  .section__advertising .advertising__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section__advertising .advertising__list .advertising__item {
  width: 100%;
  max-width: 400px;
  background-color: rgb(243, 245, 249);
  border-radius: 16px;
  padding: 30px 0 30px 14px;
  overflow: hidden;
}
.section__advertising .advertising__list .advertising__item h3 {
  font-size: calc(18px + 4 * (100vw - 320px) / 1250);
  font-weight: 700;
  line-height: 29.05px;
  text-align: center;
  margin-bottom: 61px;
}
@media (max-width: 770px) {
  .section__advertising .advertising__list .advertising__item h3 {
    margin-bottom: 20px;
  }
}
.section__advertising .advertising__list .advertising__item-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 61px;
}
@media (max-width: 770px) {
  .section__advertising .advertising__list .advertising__item-img {
    margin-bottom: 30px;
  }
}
.section__advertising .advertising__list .advertising__item-img img {
  width: 100%;
  max-width: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 840px) {
  .section__advertising .advertising__list .advertising__item-img img {
    max-width: 480px;
  }
}
@media (max-width: 840px) {
  .section__advertising .advertising__list .advertising__item {
    max-width: 600px;
  }
}
.section__advertising .advertising__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.section__advertising .advertising__item-list .advertising__partners {
  width: 100%;
  max-width: 62px;
  position: relative;
}
.section__advertising .advertising__item-list .advertising__partners img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__faq {
  padding-bottom: 120px;
}
@media (max-width: 850px) {
  .section__faq {
    padding-bottom: 70px;
  }
}
.section__faq .faq__inner h2 {
  font-size: calc(18px + 16 * (100vw - 320px) / 1250);
  font-weight: 700;
  line-height: 43.57px;
  text-align: center;
  margin-bottom: 40px;
}
.section__faq .faq__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
  max-width: 100%;
}
.section__faq .faq__container:last-child {
  margin-bottom: 0;
}
.section__faq .faq__item {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 0.5px 0px 0.5px 0px solid rgb(30, 30, 30);
  cursor: pointer;
}
.section__faq .faq__item:first-child {
  border-width: 0.5px 0px 0.5px 0px;
  border-style: solid;
  border-color: rgb(30, 30, 30);
}
.section__faq .faq__button {
  cursor: pointer;
  color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  background: transparent;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: calc(18px + 3 * (100vw - 320px) / 1440);
  font-weight: 600;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.section__faq .faq__button img {
  width: 25px;
  height: 25px;
}
.section__faq .faq__button .plus {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.section__faq .faq__active {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.section__faq .faq__content {
  padding: 0 18px;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  max-height: 0;
}
.section__faq .faq__content p {
  font-size: calc(14px + 2 * (100vw - 320px) / 1440);
  color: #000;
  line-height: 1.4;
  margin-bottom: 20px;
}

.section__ready {
  padding-top: 48px;
  background-color: rgb(243, 245, 249);
}
.section__ready .ready__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section__ready .ready__inner .button-big {
  -ms-flex-item-align: center;
      align-self: center;
}
.section__ready .ready__inner h2 {
  text-align: center;
  font-family: Inter;
  font-size: calc(18px + 16 * (100vw - 320px) / 1250);
  font-weight: 700;
  line-height: 43.57px;
  margin-bottom: 20px;
}
.section__ready .ready__inner p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
  margin-bottom: 24px;
}
.section__ready .ready__inner .ready__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 12px;
}
.section__ready .ready__inner .ready__img-box .ready__img-inner {
  width: 100%;
  max-width: 289px;
  position: relative;
  z-index: 1;
}
.section__ready .ready__inner .ready__img-box .ready__img-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__ready .ready__inner .ready__img-box .ready__img-inner:nth-child(1) {
  z-index: 5;
  margin-right: -190px;
}
@media (max-width: 500px) {
  .section__ready .ready__inner .ready__img-box .ready__img-inner:nth-child(1) {
    margin-right: -100px;
  }
}
.section__ready .ready__inner .ready__img-box .ready__img-inner:nth-child(2) {
  z-index: 10;
}
.section__ready .ready__inner .ready__img-box .ready__img-inner:nth-child(3) {
  z-index: 5;
  margin-left: -120px;
}

.footer .footer__top-inner {
  border-bottom: rgb(222, 222, 222) 1px solid;
  padding-top: 50px;
  padding-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1224px) {
  .footer .footer__top-inner {
    display: grid;
    gap: 20px;
    grid-template: repeat(2, auto)/repeat(2, auto);
  }
}
@media (max-width: 587px) {
  .footer .footer__top-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__top-inner .footer__top-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer__top-inner .footer__top-partners {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 1224px) {
  .footer .footer__top-inner .grid--item1 {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
    margin-right: 0;
  }
}
.footer .footer__top-inner .footer__partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  width: 100%;
  margin-right: 135px;
}
@media (max-width: 1224px) {
  .footer .footer__top-inner .footer__partners-list {
    margin-right: 0;
  }
}
.footer .footer__top-inner .footer__partners-list .footer__partners-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  background-color: rgb(30, 30, 30);
  color: #fff;
  border-radius: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 8px 5px;
  width: 76px;
  text-wrap: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}
.footer .footer__top-inner .footer__partners-list .footer__partners-item img {
  width: auto;
  height: 22px;
}
@media (max-width: 333px) {
  .footer .footer__top-inner .footer__partners-list .footer__partners-item {
    font-size: 10px;
    gap: 3px;
    padding: 5px 3px;
    width: 73px;
  }
}
.footer .footer__top-inner .footer__top-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer__top-inner .footer__top-nav .footer__top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 587px) {
  .footer .footer__top-inner .footer__top-nav .footer__top-list {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
.footer .footer__top-inner .footer__top-nav .footer__top-list .footer__top-item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .footer__top-inner .footer__top-nav .footer__top-list .footer__top-item:hover {
  color: rgb(207, 18, 18);
}
@media (max-width: 587px) {
  .footer .footer__top-inner .footer__top-nav .footer__top-list .footer__top-item:last-child {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
  }
}
.footer .footer__top-inner .footer__top-nav .footer__top-list .footer__top-item a {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
}
.footer .footer__top-inner .footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer .footer__top-inner .footer__social-list .footer__social-item {
  background-color: rgb(243, 243, 243);
  border-radius: 50%;
  padding: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__bottom-inner {
  padding: 29px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.52px;
}
.footer .footer__bottom-inner a {
  font-weight: 600;
}
@media (max-width: 528px) {
  .footer .footer__bottom-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }
}

@media (max-width: 840px) {
  .burger {
    position: fixed;
    background: #d7102a;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(247, 0, 234, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    top: 10px;
    right: 15px;
    z-index: 150;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger span {
    display: block;
    width: 27px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    margin: 4px 0;
  }
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 27px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
  }
  .burger__active span {
    display: none;
  }
  .burger__active.burger::before {
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    -webkit-transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s;
    transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s;
    transition: top 0.3s, box-shadow 0.15s, transform 0.3s;
    transition: top 0.3s, box-shadow 0.15s, transform 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s;
  }
  .burger__active.burger::after {
    position: absolute;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.3s, -webkit-transform 0.3s 0.15s;
    transition: -webkit-transform 0.3s, -webkit-transform 0.3s 0.15s;
    transition: transform 0.3s, transform 0.3s 0.15s;
    transition: transform 0.3s, transform 0.3s 0.15s, -webkit-transform 0.3s, -webkit-transform 0.3s 0.15s;
  }
  .header__top-nav {
    margin-left: 0;
    width: 100%;
    margin-bottom: 40px;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .header__top-menu {
    position: fixed;
    width: 100%;
    max-width: 450px;
    z-index: 100;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.5s ease-in-out;
    opacity: 0;
    padding: 120px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__top--open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#0f0f0f), color-stop(61.37%, #1a162c), color-stop(99.95%, #2e2462));
    background: linear-gradient(180deg, #0f0f0f 0%, #1a162c 61.37%, #2e2462 99.95%);
  }
  .header__top--closing {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  .header__top-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 0;
  }
  .header__top-nav .header__top-list {
    margin-right: 0;
  }
  .header__top-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: left;
  }
  .header__top-item a {
    font-weight: 600;
    font-size: calc(18px + 5 * (100vw - 320px) / 1250);
  }
  .header__top-item:last-child {
    margin-bottom: 0;
  }
}